<link rel="stylesheet" href="/assets/css/styles.css">

<div class="container container1">
    <div class="row justify-content-center">
        <div class="col-md-6 p-0">
            <div class="card">
                <div class="box">
                    <div class="form-snip">
                        <input type="radio" name="tab" id="tab-1" class="sign-in" checked>
                        <label for="tab-1" class="tab">Login</label>
                        <input type="radio" name="tab" id="tab-2" class="sign-up">
                        <label for="tab-2" class="tab"><a href="/register">Registrarse</a></label>
                        <label for="tab-3" class="tab"><a href="/api/sessions/github">Ingresar con GitHub</a></label>
                        <div class="user-form">
                            <form id="loginForm" class="login-form" action="/api/sessions/login" method="post">
                                <br>
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Ingrese su email">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Ingrese su contraseña">
                                <input type="text" name="web" value="web" hidden>
                                <br>
                                <button class="btn btn-warning mt-3 mb-3">Ingresar</button>
                                <a href="/forgotPassword" class="text-secondary">¿Olvidó su contraseña?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>