<link rel="stylesheet" href="/assets/css/styles.css">

<div class="container container1">
    <div class="row justify-content-center register-container">
        <div class="col-md-6 p-0">
            <div class="card">
                <div class="box">
                    <div class="form-snip">
                        <input type="radio" name="tab" id="tab-1" class="sign-in">
                        <label for="tab-1" class="tab"><a href="/login">Login</a></label>
                        <input type="radio" name="tab" id="tab-2" class="sign-up" checked>
                        <label for="tab-2" class="tab">Registrarse</label>
                        <label for="tab-3" class="tab"><a href="/api/sessions/github">Ingresar con GitHub</a></label>
                        <div class="user-form">
                            <form id="registerForm" action="/api/sessions/register" method="post">
                                <br>
                                <label>Nombre</label>
                                <input type="text" name="first_name" placeholder="Ingrese su nombre">
                                <label>Apellido</label>
                                <input type="text" name="last_name" placeholder="Ingrese su apellido">
                                <label>Edad</label>
                                <input type="text" name="age" placeholder="Ingrese su edad">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Ingrese su correo electronico">
                                <label>Contraseña</label>
                                <input type="password" name="password" placeholder="Ingrese su constraseña">
                                <input type="text" name="web" value="web" hidden>
                                <br>
                                <button type="submit" class="btn btn-warning mt-3 mb-3">Registrarse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>